*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: 'Poppins';
    background-color: #fffadf;
    height: 100vh;
}

section.product-section{
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-section img{
    width: 480px;
}

#displayLogo{
    width: 8rem;
    object-fit: fill;
    position: absolute;
    bottom: 15%;
    left: 30%;
    transform:translate(-50%,-50%);
}

#loader{
    display: none;
    height: 100px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform:translate(-50%,-50%);
}

section.user-customization{
width: 40vw;
display: flex;
justify-content: center;
align-items: center;
}

.user-customization h2{
    font-size: 3rem;
    font-weight: 600;
}
/* .user-customization p{
   
} */
.user-customization h3{
    font-size: 1.5rem;
    font-weight: 500;
}
.user-customization .p2{
    font-size: 0.7rem;
    font-weight: 500;
    margin: 0.5rem 0 1rem;
}

.input-btn{
    width:auto;
    display: flex;
    gap: 6rem;
    cursor: pointer;
}

.inputWrapper{
    display: flex;
    justify-content: space-between;
    background-color: #ffcd05;
    padding: 10px;
    font-weight: 600;
    color: white;
}

.input-btn p{
    letter-spacing: 1.5px;
}

input[type='file']{
    display: none;
}

.deleteFile{
    cursor: pointer;
    display: none;
}

.color-inputs{
    display: flex;
    gap: 1.5rem;
    margin: 1rem;
}

.color-code{
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin: 1.5rem, 1rem;
    cursor: pointer;
}

.yellow{
    background-color: #ffcc00;
}
.pink{
    background-color: #ff2d50;
}
.blue{
    background-color: #0ea5e9;
}